{% extends 'herbalism/base.html' %}

{% block content %}
	<div class="menu-header">
		<div class="menu-tab" style="background-color: #F07167"><h2><a href="{% url 'generator_menu' %}">GENERATOR</a></h2></div>
		<div class="menu-tab"><h2><a href="{% url 'ingredient_list' %}">INGREDIENTS</a></h2></div>
		<div class="menu-tab" ><h2><a href="{% url 'potion_list' %}">POTIONS</a></h2></div>
		<div class="menu-tab" ><h2><a href="{% url 'seller' ingr_type=9 %}">SELLER</a></h2></div>
	</div>
	<div class="generator-menu">
		<div class="generator-menu-item"><a href="{% url 'generator_result' region=0  %}">Повсеместные</a></div>
		<div class="generator-menu-item"><a href="{% url 'generator_result' region=1  %}">Арктика</a></div>
		<div class="generator-menu-item"><a href="{% url 'generator_result' region=2  %}">Берега</a></div>
		<div class="generator-menu-item"><a href="{% url 'generator_result' region=3  %}">Подводная среда</a></div>
		<div class="generator-menu-item"><a href="{% url 'generator_result' region=4  %}">Пустыня</a></div>
		<div class="generator-menu-item"><a href="{% url 'generator_result' region=5  %}">Лес</a></div>
		<div class="generator-menu-item"><a href="{% url 'generator_result' region=6  %}">Лес (Ночь)</a></div>
		<div class="generator-menu-item"><a href="{% url 'generator_result' region=7  %}">Луг</a></div>
		<div class="generator-menu-item"><a href="{% url 'generator_result' region=8  %}">Холмы</a></div>
		<div class="generator-menu-item"><a href="{% url 'generator_result' region=9  %}">Горы</a></div>
		<div class="generator-menu-item"><a href="{% url 'generator_result' region=10 %}">Болото</a></div>
		<div class="generator-menu-item"><a href="{% url 'generator_result' region=11 %}">Болото (Дождь)</a></div>
		<div class="generator-menu-item"><a href="{% url 'generator_result' region=12 %}">Подземье</a></div>
	</div>
{% endblock %}
