{% extends 'herbalism/base.html' %}

{% block content %}
	<div class="menu-header">
		<div class="menu-tab" ><h2><a href="">GENERATOR</a></h2></div>
		<div class="menu-tab" style="background-color: #F07167"><h2><a href="{% url 'ingredient_list' %}">INGREDIENTS</a></h2></div>
	</div>
	<div class="ingredient-list">
		<table>
			{% for ingredient in ingredients %}
				<tr>
					{% if ingredient.rarity == "1" %}
						<td><a style="color: #1EFF00" href="{% url 'ingredient_detail' pk=ingredient.pk %}">{{ ingredient.name }}</a></td>
					{% elif ingredient.rarity == "2" %}
						<td><a style="color: #0070DD" href="{% url 'ingredient_detail' pk=ingredient.pk %}">{{ ingredient.name }}</a></td>
					{% elif ingredient.rarity == "3" %}
						<td><a style="color: #FF8000" href="{% url 'ingredient_detail' pk=ingredient.pk %}">{{ ingredient.name }}</a></td>
					{% else %}
						<td><a style="color: #808080" href="{% url 'ingredient_detail' pk=ingredient.pk %}">{{ ingredient.name }}</a></td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
