{% extends 'herbalism/base.html' %}

{% block content %}
	<div class="menu-header">
		<div class="menu-tab" ><h2><a href="{% url 'generator_menu' %}">GENERATOR</a></h2></div>
		<div class="menu-tab" ><h2><a href="{% url 'ingredient_list' %}">INGREDIENTS</a></h2></div>
		<div class="menu-tab" style="background-color: #F07167"><h2><a href="{% url 'potion_list' %}">POTIONS</a></h2></div>
	</div>
	<div class="content">
	{% for potion in potions %}
		<div class="card">
			<div class="card-header">
				<!-- Name of potion -->	
				<div id="name"><a href="{% url 'potion_detail' pk=potion.pk %}">{{ potion.name }}</a></div>	

				{% if potion.rarity == "1" %}	
					<div id="price" style="background-color: #7CE573">{{ potion.price }} </div>
				{% elif potion.rarity == "2" %}	
					<div id="price" style="background-color: #80B5FF">{{ potion.price }} </div>
				{% elif potion.rarity == "3" %}	
					<div id="price" style="background-color: #FF8080">{{ potion.price }} </div>
				{% else %}	
					<div id="price" style="background-color: #808080">{{ potion.price }} </div>
				{% endif %}
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}
