h1, h2, h3, h4 {
	font-family: 'Lobster';
}

.page-header {
	background-color: #0081A7;
	margin: 0 0 0 0;
	padding-top:  10px;
	border-style: none;
	text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
	color: #FFFFFF;
	font-family: 'Lobster';
	font-size: 6vw;
	text-decoration: none;
}

.menu-header {
	background-color: #FED9B7;
	display: flex;
	flex-wrap: nowrap;
}

.menu-header h2, .menu-header h2 a, .menu-header h2 a:visited, .menu-header h2 a:active {
	color:  #FFFFFF;
	font-family: 'Lobster';
	font-size: 4vw;
	text-decoration: none;
}

.menu-tab {
	margin: 10px;
	padding: 0px 5px 5px 5px;
	width: 50%;
	text-align: center;
}

.content {
	margin: 0 0 0 0;
}

.ingredient-list {
	margin-left: 40px;
}

.ingredient-list td {
	padding: 2px 10px 2px 10px;	
	font-family: 'Lobster';
	font-size: 16pt;
}

.card {
	margin: 0 0 0 40px;
}

.generator-menu {
	padding: 10px 10px 2px 10px;	
	font-family: 'Lobster';
	font-size: 16pt;
	display: flex;
	flex-wrap: wrap;
}

.generator-menu-item {
	background-color: #80AFB9; 
	font-family: 'Lobster';
	font-size: 3vw;
	text-align:  center;
	color: white;
	padding: 1% 10% 1% 10%;
	width: 50%;
	border: 5px solid white;
}
