/*------------------------------------------------------
	COMMON 												
------------------------------------------------------*/
h1, h2, h3, h4 {
	font-family: 'Lobster';
}

.page-header {
	background-color: #0081A7;
	margin: 0 0 0 0;
	padding-top:  10px;
	border-style: none;
	text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
	color: #FFFFFF;
	font-family: 'Lobster';
	font-size: 6vw;
	text-decoration: none;
}

.menu-header {
	background-color: #FED9B7;
	display: flex;
	flex-wrap: nowrap;
}

.menu-header h2, .menu-header h2 a, .menu-header h2 a:visited, .menu-header h2 a:active {
	color:  #FFFFFF;
	font-family: 'Lobster';
	font-size: 4vw;
	text-decoration: none;
}

.menu-tab {
	margin: 10px;
	padding: 0px 5px 5px 5px;
	width: 50%;
	text-align: center;
}

.content {
	margin: 0 0 0 0;
}


/*------------------------------------------------------
	INGREDIENT LIST
------------------------------------------------------*/
.ingredient-list {
	display: flex;
	flex-wrap: wrap;
	margin: 5px;
}

.ingredient-item {
	background-color: #80AFB9; 
	font-family: 'Lobster';
	font-size: 3.5vw;
	text-align:  left;
	color: white;
	padding: 5px 10px 5px 10px;
	width: 50%;
	border: 5px solid white;
	display: flex; 
	flex-wrap: nowrap;
}

.ingredient-list a {
	color: white;
}

.ingredient-rarity {
	text-align: center;
	width: 5vw;	
	height: 5vw;
	margin-left: auto;
	border-radius: 2.5vw;
}


/*------------------------------------------------------
	INGREDIENT DETAILED
------------------------------------------------------*/
.card {
	width: 100%;
	margin: 10px;
}

.card a {
	color: white;
}

.card-header {
	display: flex;
	flex-wrap: nowrap;
	color: white;
	font-family: 'Lobster';
	font-size: 3.5vw;
	padding: 5px 5px 5px 10px;
	background-color: #80AFB9;
}

.card-header #magic {
	margin-left: auto;	
	text-align: left;
}

.card #description {
	background-color: #FDFCDC;	
	padding: 5px 5px 5px 10px;
	font-family: 'Lobster';
	font-size: 20px;
}

.card hr {
	border-color: #E0E0E0;
}


/*------------------------------------------------------
	GENERATOR
------------------------------------------------------*/

.generator-menu {
	display: flex;
	flex-wrap: wrap;
	margin: 5px;
}

.generator-menu a {
	color: white;
}

.generator-menu-item {
	background-color: #80AFB9; 
	font-family: 'Lobster';
	font-size: 3.5vw;
	text-align:  center;
	padding: 5px 5px 5px 5px;
	width: 50%;
	border: 5px solid white;
}

